// Размеры экранов

$tablet: 870px;
$desktop: 1024px;
$bigdesktop: 1280px;

// Цвета текста

$main-font-color: #141414;
$second-font-color: #3B3B3B;
$third-font-color: #8E8E8E;
$menu-font-color: #fff;

// Фоновые цвета

$menu-color: #273e4b;
$catalog-header-color: #337FD2;

// Прочие цвета

$line-color: #D3D3D3;
$dot-color: #313D50;
$cart-number-color: #E65555;
$cart-number-font: #fff;
$menu-border-color: #79828F;
$catalog-border-color: #DEDEDE;