div.login-reg
	div.login-reg__authorization-and-reg
		a.login-reg__authorization.login-reg__authorization--active(href="#") Авторизация
		a.login-reg__reg(href="#") Регистрация
	form.login-reg-form
		label.login-reg__label
			span.login-reg__text
				span.login-reg__main-text E-Mail адрес
				span.login-reg__main-simbol *
			input.login-reg__email(type="email")
		label.login-reg__label
			span.login-reg__text
				span.login-reg__main-text Пароль
				span.login-reg__main-simbol *
				a.login-reg__forget-your-password(href="#") Забыли свой пароль?
			input.login-reg__password(type="password")
		label.login-reg__remember-me
			span.login-reg__checkbox
				span.login-reg__tick
			span.login-reg__remember-text Запомнить меня