.geolocation {
	display: none;
}

@media (min-width: $tablet) {

	.geolocation {
		display: flex;
		justify-content: space-between;
		box-sizing: border-box;
		position: relative;
		width: 153px;
		padding-left: 25px;
		@include standart-font-and-color;
		font-size: 13px;
		line-height: 17px;

		&--header {
			margin-left: 12.7%;
		}

		&::before {
		content: "";
		position: absolute;
		width: 25px;
		height: 25px;
		top: -3px;
		left: -6px;
		background-image: url("../../blocks/geolocation/img/geolocation.svg");
		background-repeat: no-repeat;
		background-position: center;
		}
	}
}