div.catalog.catalog--header
	div.catalog__title-and-btn
		a.catalog__btn(href="#")
			span.catalog__line.catalog__line--1
			span.catalog__line.catalog__line--2
			span.catalog__line.catalog__line--3
			span.catalog__line.catalog__line--4
			span.catalog__line.catalog__line--5
		h3.catalog__title Каталог товаров
	ul.catalog__list
		li.catalog__list-item
			a.catalog__list-link(href="#").catalog__list-link--sub-menu Тележки для склада
		li.catalog__list-item
			a.catalog__list-link(href="#").catalog__list-link--sub-menu  Колеса, колесные опоры
		li.catalog__list-item
			a.catalog__list-link(href="#") Складская техника
		li.catalog__list-item
			a.catalog__list-link(href="#").catalog__list-link--sub-menu  Металлические поддоны
		li.catalog__list-item
			a.catalog__list-link(href="#").catalog__list-link--sub-menu  Стеллажи и тележки для воды
		li.catalog__list-item
			a.catalog__list-link(href="#").catalog__list-link--sub-menu  Сетчатые контейнеры
		li.catalog__list-item
			a.catalog__list-link(href="#") Лестницы