nav.menu.menu--header
	button.menu__btn
		span.menu__btn-dot
		span.menu__btn-dot
		span.menu__btn-dot
	ul.menu__list
		li.menu__list-item
			div.menu__login-and-reg
				a.menu__login(href="#") Вход
				a.menu__reg(href="#") Регистрация
		li.menu__list-item
			a.menu__list-link(href="#") О компании
		li.menu__list-item
			a.menu__list-link(href="#") Новости
		li.menu__list-item
			a.menu__list-link(href="#") Соотрудничество
		li.menu__list-item
			a.menu__list-link(href="#") Доставка и оплата
		li.menu__list-item
			a.menu__list-link(href="#") Обзоры
		li.menu__list-item
			a.menu__list-link(href="#") Контакты
		li.menu__list-item
			a.menu__list-link(href="#") Пункт меню
		li.menu__list-item
			a.menu__list-link(href="#")
				div.menu-geo
					span.menu__what-city Ваш город:
					span.menu__city Москва