header.main-header
	div.header__wrapper
		include ../geolocation/geolocation.pug
		include ../logo/logo.pug
		include ../tel/tel.pug
		div.main-header__line.main-header__line--header
		include ../menu/menu.pug
		include ../cart/cart.pug
		include ../search/search-little/search-little.pug
		include ../search/search-big/search-big.pug
		include ../catalog/catalog.pug
		include ../cart-big/cart-big.pug
		include ../address/address.pug
		include ../chart/chart.pug
		include ../cabinet/cabinet.pug
		include ../login-reg/login-reg.pug